<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comment.name %>
</p>



<%#= link_to 'Edit', edit_comment_path(@comment) %> |
<%#= link_to 'Back', comments_path %>
